//TASQUES

<ion-header>
  <ion-navbar>
    <ion-title>
      <div class="logo"><img id="logo_img" src="img/logo.png" /></div>
      <div class="text">Tasques</div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide *ngFor="let post of posts">
      <h1>{{post.event_name}}</h1>
      <img src="http://94.177.199.253:8000/imatges/{{post.image}}" imageViewer />
      <p>{{post._title}}</p>
    </ion-slide>
  </ion-slides>

</ion-content>
