page-about {

  .swiper-slide img{
    width: 20%;
    height: 30%;
    margin-left: 0;
  }

  h1{
    font-size: 2.5em;
  }

  p{
    font-size: 1.3em;
  }

  #logo_img{
      width:130px;
      height:60px;
      margin-left:0px;
    }

    .logo{
      float:left;
    }

    .text{
      float: right;
      margin-top: 1.5%;
      margin-right: 80%;

    }


}
