<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inici" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Calendari" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tasques" tabIcon="create"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tasques Extres" tabIcon="add"></ion-tab>
</ion-tabs>
