<ion-header>
  <ion-navbar>
    <ion-title>
      Calendari
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let post of posts">

  <ion-item>
    <ion-thumbnail item-left>
      <img src="http://94.177.199.253:8000/imatges/{{post.image}}" imageViewer />
    </ion-thumbnail>
  <div class="lateral">
    <h1>{{post.event_name}}</h1>
    <p>{{post._title}}</p>
    <p>{{post.start_event_date | date: "HH:mm"}} - {{post.end_event_date | date: "HH:mm"}}</p>

    </div>
  </ion-item>
</ion-list>






</ion-content>
