<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contenidor">
<img src="img/logo.png" />

  <ion-list class="formulari">

    <ion-item>
      <ion-label fixed>Usuari</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Contrasenya</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>

  <div padding class="boto">
    <button ion-button color="primary" block ng-click="login()">Entrar</button>
  </div>


</ion-content>
